
<body style="background: forestgreen;">
<form>
    <button formaction="{% url 'users:login' %}">Login</button></form>


        <div id="main">
            {% load static %}
            <center><img height="300" src="{% static "users/SEAMPLE_logo.jpg" %}" width="300"></center>
            <center>
                <div id="welcome">
                    <h1 style="color: white">Welcome to SME Team Maker, SEAMPLE.</h1>
                </div>
                <div id='for'>
                    <h1 style="color: white">For Your Quality Team Project.</h1>
                </div>
            </center>

        </div>
    </body>
